metadata:
  description: >-
    This task predicts whether the patient will have low _bicarbonate_ values (metabolic acidosis) within the
    next 24 hours, given the first 24 hours of their admission to the hospital. To be included, 1) patients
    must have at least one measurement for _bicarbonate_ within the next 24 hours after their admission to the
    hospital, 2) patients must not have shown low _bicarbonate_ values previously, and 3) their length of stay
    in the hospital must be at least 48 hours.
  links: []
  contacts:
    - name: "Jungwoo Oh"
      github_username: "jwoo5"
  supported_datasets:
    - MIMIC-IV

predicates:
  birth:
    code: { regex: "MEDS_BIRTH.*" }
  death:
    code: { regex: "MEDS_DEATH.*" }
  icu_admission: ???
  icu_discharge: ???
  hospital_discharge: ???
  discharge_or_death:
    expr: or(icu_discharge, death, hospital_discharge)

  # Plain predicates
  bicarbonate:
    code: ???
  abnormally_low_bicarbonate:
    code: ???
    value_min: null
    value_max: 22 # mEq/L
    value_max_inclusive: False

trigger: hospital_admission

windows:
  input:
    start: null
    end: trigger + 24h
    start_inclusive: True
    end_inclusive: True
    index_timestamp: end
    # do not allow to have shown low bicarbonate values previously
    has:
      abnormally_low_bicarbonate: (None, 0)
  # do not allow hospital discharge to happen within the input + target window
  no_discharge:
    start: trigger
    end: start + 48h
    start_inclusive: False
    end_inclusive: True
    has:
      hospital_admission: (None, 0)
      discharge_or_death: (None, 0)
  # do not allow to include children (age <= 18) patients
  no_children:
    start: end - 6570d # 18 years = 365 * 18 days
    end: trigger
    start_inclusive: True
    end_inclusive: True
    has:
      birth: (None, 0)
  target:
    start: input.end
    end: start + 24h
    start_inclusive: False
    end_inclusive: True
    has:
      bicarbonate: (1, None)
    label: abnormally_low_bicarbonate
